/* Utilities */
html,
body {
  overflow: hidden;
}
h2 {
  margin-top: 40px;
}
.bg_grey {
  background-color: #a1a1a1;
}
.text_grey {
  color: #a1a1a1;
}
.text_black {
  color: black;
}
.bg_black {
  background-color: black;
}
/* /Utilities */
/* Top nav */
.logo_small {
  display: none;
}
nav.position-fixed {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
main {
  height: calc(100vh - 110px);
  background-color: #141922;
}
main {
  overflow-y: auto;
}
aside,
.main_nav {
  padding-top: 85px;
}
.logo {
  height: 50px;
}
.upgrade {
  padding: 10px 30px;
}
.upgrade:hover {
  transform: scale(1.1);
  color: white;
  background-color: black;
}
/* /Top nav */
/* Side bar */
aside a img {
  width: 30px;
}
.name_playlist {
  flex-grow: 1;
  height: calc(100vh - 500px);
  overflow: auto;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #87c62c;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #282828;
}
/* / Scroll bar */
aside a {
  display: block;
  padding-bottom: 10px;
  padding-left: 0.5rem;
  color: #a1a1a1;
}
aside a:hover {
  color: white;
  text-decoration: none;
}
aside a:hover .fas.fa-plus {
  background-color: white;
}
aside .home {
  border-left: 2px solid #87c62c;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.name {
  font-weight: 900;
}
/* / Side bar */
/* Bottom player */
.bottom {
  position: fixed;
  height: 110px;
  bottom: 0;
  z-index: 2;
  background-color: #282828;
}
.bottom img {
  padding: 1rem;
  height: 80px;
}
.save i {
  color: #a1a1a1;
}
.song-info span:hover {
  color: white;
  text-decoration: underline;
}
.save i:hover {
  color: white;
}
.play_icons i {
  padding: 10px;
}
.play_icons .far.fa-play-circle:hover {
  transform: scale(1.2);
}
.bar_long {
  border-radius: 10px;
  height: 3px;
  width: 300px;
}
.bar_long::before {
  content: "";
  background-color: white;
  border-radius: 10px;
  height: 3px;
  width: 100px;
  display: block;
}
.bar_long .fas.fa-circle {
  position: relative;
  bottom: 8px;
  left: 90px;
  display: none;
}
.volume_bar .fas.fa-circle {
  position: relative;
  top: -8px;
  right: 30px;
  display: none;
}
.bar_long:hover .fas.fa-circle,
.volume_bar:hover .fas.fa-circle {
  display: block;
}
.bar_long:hover::before,
.volume_bar:hover::before {
  background-color: #87c62c;
}
.volume_bar {
  border-radius: 10px;
  height: 3px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;
}
.volume_bar::before {
  content: "";
  background-color: white;
  border-radius: 10px;
  height: 3px;
  width: 50px;
  display: block;
}
/* Main content */
.main_nav a {
  margin-left: 10px;
  margin-right: 10px;
}
.main_nav a:hover {
  color: white;
  text-decoration: none;
}
.main_nav span {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #87c62c;
}
main .row.d-flex img {
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.playlist_cover:hover .overlay,
.playlist_cover:hover i {
  display: inline-block;
}
.playlist_cover i {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.smart_icon i {
  display: none;
}
/* / Main content */
/* Media query */
@media screen and (max-width: 576px) {
  .logo,
  .right_control,
  .save {
    display: none;
  }
  aside span,
  .add_playlist,
  .fas.fa-plus,
  .install a {
    display: none;
  }
  .logo_small {
    display: inline-block;
    height: 50px;
  }
  .bottom .col-5 {
    visibility: hidden;
  }
  .smart_icon i {
    display: inline-block;
  }
  aside .home {
    border-left: none;
  }
}
